/* Author Courtney Vu 
 * CSS File to style HTML
 * for courtneyvu.com
 */

body {
	/* background-color: #d0dfff; */
	padding: 0;
}

div {
	font-family: "Gill Sans", "sans serif";
	font-weight: light;
}

#header {
	display: block;
	position: relative;
	margin-top: 3%;
	width: 78%;
	float: right;
	text-align: center;
	padding: 1%;
	/* background-color: #d0dfff; */
}

a {
	color: #494949;
	text-decoration: none;
	font-weight: bold;
}

a:visited {
	color: #494949;
}

a:hover {
	color: black;
}

#navbar {
	position: relative;
	float: left;
	width: 25%;
	margin: 0;
}

#navbar p {
	font-weight: bold;
	font-size: 260%;
	text-align: left;
	margin: 1%;
}
ul {
	list-style-type: none;
	position: fixed;
	z-index: 10;
	left: -2%;
	top: 12%;
}

li {
	display: block;
	color: #494949;
	font-weight: bold;
	font-size: 140%;
	padding-top: .2em;
	padding-bottom: .2em;
}

.photo {
	display: block;
	position: relative;
	float: left;
	text-align: center;
	height: 11em;
	width: 11em;
	margin-bottom: 3%;
	border: 1.5px solid black;
	border-radius: 100%;
	/*opacity: .8*/
}
/*
.photo:hover {
	opacity: 1;
}*/

#self {
	display: inline-block;
	height: 15em;
	width: 15em;
	margin-left: 17%;
	content: url("./images/self.jpg");
	opacity: 1;
	object-fit: cover;
}

#left {
	content: url("./images/boston.JPG");
	float: left;
	object-fit: cover;
}

#right {
	content: url("./images/la_jolla.JPG");
	float: right;
	object-fit: cover;
}

#content {
	display: block;
	position: relative;
	width: 80%;
	float: right;
}

.info_section {
	display: block;
	position: relative;
	/* background-color: #d8ffd9; */
	padding: 4% 5% 4% 4%;
	border-top: 3px solid black;
}

.title {
	font-weight: bold;
	font-size: 150%;
}

.blurb_title {
	font-weight: bold;
	color: #424242;
	font-size: 120%;
}

.blurb {
	font-size: 120%;
}

#about_me {
	text-align: left;
}

#about_right {
	content: url("./images/sproul.JPG");
	float: right;
	margin: 0% 2% 2% 1%;
	object-fit: cover;
}

#work {
	text-align: right;
}

#work_left {
	content: url("./images/drive.jpg");
	float: left;
	margin: -2% 2% 2% 0%;
	object-fit: cover;
}

#proj_right0 {
	content: url("./images/pagerank.png");
	float: right;
	margin: 5% 2% 2% 1%;
	object-fit: cover;
}

#proj_left1 {
	content: url("./images/cpu.PNG");
	margin: 0% 2% 2% 0%;
	object-fit: cover;
}

#proj_right2 {
	content: url("./images/trie.png");
	float: right;
	object-fit: cover;
}

#projects {
	text-align: left;
}

#code {
	text-align: right;
}

#code_0 {
	content: url("./images/code.PNG");
	margin-right: 2%;
	object-fit: cover;
}

#outside_cs {
	text-align: left;
}
