/* Author Courtney Vu 
 * CSS File to style HTML
 * for courtneyvu.com
 */

body {
	background-color: #d0dfff;
	padding: 0;
}

div {
	font-family: "Alegreya Sans", "sans serif";
	border: 1px dotted black;
	font-weight: light;
}

#header {
	display: block;
	position: relative;
	text-align: center;
	padding: 1%;
	border: 0;
	background-color: #d0dfff;
}

#header p {
	font-weight: bold;
	font-size: 240%;
	text-indent: 13%;
	margin: 1%;
}

a {
	color: #494949;
	text-decoration: none;
	font-weight: bold;
}

a:visited {
	color: #494949;
}

a:hover {
	color: black;
}

#navbar {
	position: relative;
	float: left;
	margin: 0;
	background-color: #d0dfff;
}

ul {
	list-style-type: none;
	position: fixed;
	z-index: 10;
	left: -2%;
	top: 0%;
}

li {
	display: block;
	color: #494949;
	font-weight: bold;
	font-size: 140%;
	padding-top: .2em;
	padding-bottom: .2em;
}

.photo {
	display: block;
	position: relative;
	float: left;
	text-align: center;
	height: 11em;
	width: 11em;
	margin-bottom: 3%;
	border: 1.5px solid black;
	border-radius: 100%;
}

#self {
	height: 15em;
	width: 15em;
	margin-left: 14%;
	margin-right: 14%;
	content: url("http://upe.berkeley.edu/media/profile_images/Soy%20-%20Courtney%20Vu.jpg");
	object-fit: cover;
}

#left {
	margin-left: 16%;
	content: url("./images/boston.JPG");
	object-fit: cover;
}

#right {
	content: url("./images/la_jolla.JPG");
	object-fit: cover;
}

#content {
	display: block;
	position: relative;
	width: 80%;
	float: right;
}

.info_section {
	display: block;
	position: relative;
	background-color: #d8ffd9;
	padding: 4% 7% 4% 6%;
	border-top: 3px solid black;
}

.title {
	font-weight: bold;
	font-size: 150%;
}

.blurb {
	font-size: 120%;
}

#about_me {
	text-align: right;
}

#about_left {
	content: url("./images/sproul.JPG");
	object-fit: cover;
}

#projects {
	text-align: left;
}

#cool_stuff {
	text-align: right;
}
