/* Author Courtney Vu 
 * CSS File to style HTML
 * for courtneyvu.com
 */

body {
	background-color: #d0dfff;
	padding: 0;
}

div {
	font-family: "Lucida Grande";
	font-weight: bold;
}

#header {
	display: block;
	position: relative;
	text-align: center;
	padding: 1%;
	border: 0;
	background-color: #d0dfff;
}

a {
	text-decoration: none;
}

a:visited {
	color: #494949;
}

a:hover {
	color: black;
}

ul {
	list-style-type: none;
	position: fixed;
	z-index: 10;
	left: -2%;
	top: 0%;
}

li {
	display: block;
	color: #494949;
	font-size: 1.1em;
	padding-top: .2em;
	padding-bottom: .2em;
}

#photo {
	display: table;
	position: relative;
	margin: 4% auto;
	text-align: center;
	height: 11em;
	width: 11em;
	border: 1px solid black;
	border-radius: 100%;
	background: url("http://upe.berkeley.edu/media/profile_images/Soy%20-%20Courtney%20Vu.jpg");
}

.info_section {
	display: block;
	position: relative;
	background-color: #dcffd4;
	padding: 5% 10% 5% 15%;
	border-top: 3px solid black;
}

#about_me {
	text-align: right;
}

#projects {
	text-align: left;
}

#cool_stuff {
	text-align: right;
}
